/.vscode

/Sherlock.Apps.Service/bin
/Sherlock.Apps.Service/obj

/Sherlock.Apps.Core/bin
/Sherlock.Apps.Core/obj

/Sherlock.Apps.Repository/bin
/Sherlock.Apps.Repository/obj

/Sherlock.Apps.Utility/bin
/Sherlock.Apps.Utility/obj
