/.vscode

/Sherlock.Apps.Api/bin
/Sherlock.Apps.Api/obj

/Sherlock.Apps.Func/bin
/Sherlock.Apps.Func/obj

/Sherlock.Apps.Model/bin
/Sherlock.Apps.Model/obj

/Sherlock.Apps.Repository/bin
/Sherlock.Apps.Repository/obj

/Sherlock.Apps.Utility/bin
/Sherlock.Apps.Utility/obj

/Sherlock.Apps.Service/bin
/Sherlock.Apps.Service/obj