/sherlock.apps.api/bin
/sherlock.apps.api/obj

/sherlock.apps.core/bin
/sherlock.apps.core/obj

/sherlock.apps.repository/bin
/sherlock.apps.repository/obj

/sherlock.apps.utility/bin
/sherlock.apps.utility/obj

/sherlock.apps.model/bin
/sherlock.apps.model/obj